@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    background-color: darkgrey;
    color: white;
}
.nav-container{
    display: flex;
    justify-content: space-between;
    margin: 2rem;
    border-bottom: #0b2e13 2px solid;
}
.nav-items-left{
    display: flex;
    gap: 2rem;
    padding-bottom: 2rem;
}
.index-container{
    margin: 2rem;
    color: orange;
}
.index-container h2{
    font-size: 1.3rem;
}
.index-grid{
    margin-top: 2rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
}
.index-grid img{
   width: 100%;
}
.index-movie-title{
    font-size: 1.2rem;
    margin-top: 0.5rem;
}
.index-movie-text{
    color: whitesmoke;
}
.index-movie-genre{
    color: darkred;
    display: inline-flex;
    flex-direction: row;
}
.show-container{
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 1rem;
    margin: 2rem;
}
.show-container h1{
    color: orange;
    font-size: 2rem;
}
.show-container h3{
    color: darkred;
    font-size: 1.2rem;
    margin: 0.5rem 0;
}
.show-cast-container{
    margin: 3rem 2rem;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 1rem;
}
.show-movie-title{
    color: orange;
    font-size: 2rem;
    margin: 2rem 2rem 0;
}
.show-cast-container h3{
    color: darkred;
    font-size: 1.2rem;
    margin: 0.5rem 0;
}
.form-container{
    display:flex;
    justify-content: center;
    align-self: center;
    margin: auto;
    color: black;
}
.form-container-item{
    margin: 1rem;
    display: flex;
    flex-direction: column;
}
.form-container button{
    width: 100%;
    padding: 1rem 3rem;
    background-color: #0f6674;
}
.updates-title{
    margin: 2rem;
}
.updates-container{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    margin: 2rem;
    gap: 1rem;
}
.updates-container-items {
    border: 1px solid black;
}
