@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    background-color: darkgrey;
    color: white;
}
.nav-container{
    display: flex;
    justify-content: space-between;
    margin: 2rem;
}
.nav-items-left{
    display: flex;
    gap: 2rem;
}
.index-container{
    margin: 2rem;
    color: orange;
}
.index-container h2{
    font-size: 1.3rem;
}
.index-grid{
    margin-top: 2rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
}
.index-grid img{
   width: 100%;
}
.index-movie-title{
    font-size: 1.2rem;
    margin-top: 0.5rem;
}
.index-movie-text{
    color: whitesmoke;
}
.index-movie-genre{
    color: darkred;
    display: inline-flex;
    flex-direction: row;
}
.show-container{
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 1rem;
    margin: 2rem;
}
/*.show-container img{*/
/*    width: 80%;*/
/*}*/

